In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [25]:
#Loading dataset
data = pd.read_csv('/content/sample_data/imdb.csv')
data.head()

,Name,Date,Rate,Votes,Genre,Duration,Type,Certificate,Episodes,Nudity,Violence,Profanity,Alcohol,Frightening
0,No Time to Die,2021,7.6,"107,163","Action, Adventure, Thriller",163,Film,PG-13,-,Mild,Moderate,Mild,Mild,Moderate
1,The Guilty,2021,6.3,"64,375","Crime, Drama, Thriller",90,Film,R,-,None,None,Severe,None,Moderate
2,The Many Saints of Newark,2021,6.4,"27,145","Crime, Drama",120,Film,R,-,Moderate,Severe,Severe,Moderate,Moderate
3,Venom: Let There Be Carnage,2021,6.4,"30,443","Action, Adventure, Sci-Fi",97,Film,PG-13,-,None,Moderate,Moderate,Mild,Moderate
4,Dune,2021,8.3,"84,636","Action, Adventure, Drama",155,Film,PG-13,-,None,Moderate,None,Mild,Moderate

In [26]:
#Changing Rate Column into numeric data
data['Rate'] = pd.to_numeric(data['Rate'], errors = 'coerce') 
data[data['Rate'].isnull()]

,Name,Date,Rate,Votes,Genre,Duration,Type,Certificate,Episodes,Nudity,Violence,Profanity,Alcohol,Frightening
7,House of the Dragon,2021,NaN,No Votes,"Action, Adventure, Drama",None,Series,None,10,No Rate,No Rate,No Rate,No Rate,No Rate
24,Resident Evil: Welcome to Raccoon City,2021,NaN,No Votes,"Action, Horror, Mystery",107,Film,R,-,No Rate,No Rate,No Rate,No Rate,No Rate
34,"Tick, Tick... Boom!",2021,NaN,No Votes,"Biography, Drama, Musical",115,Film,PG-13,-,No Rate,No Rate,No Rate,No Rate,No Rate
70,Eternals,2021,NaN,No Votes,"Action, Adventure, Drama",157,Film,PG-13,-,No Rate,No Rate,No Rate,No Rate,No Rate
85,Last Man Down,2021,NaN,No Votes,Action,87,Film,R,-,No Rate,No Rate,No Rate,No Rate,No Rate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5983,The Time Traveler's Wife,1996,NaN,No Votes,"Animation, Drama, Fantasy",None,Series,None,6,No Rate,No Rate,No Rate,No Rate,No Rate
5987,The Long Home,2019,NaN,No Votes,Drama,96,Film,None,-,No Rate,No Rate,No Rate,No Rate,No Rate
5988,Blade Runner: Black Lotus,2019,NaN,No Votes,"Animation, Action, Crime",None,Series,None,13,No Rate,No Rate,No Rate,No Rate,No Rate
6108,The Creed of Violence,2008,NaN,No Votes,"Action, Crime, Drama",None,Film,None,-,No Rate,No Rate,No Rate,No Rate,No Rate
6124,A House on the Bayou,2021,NaN,No Votes,"Horror, Thriller",None,Film,None,-,No Rate,No Rate,No Rate,No Rate,No Rate

In [27]:
#Replacing missing value with 0
data.fillna(0, inplace = True)

In [28]:
#Do the same for column Votes, Duration, and Episodes
data['Votes'] = data['Votes'].replace(",", "", regex=True)
data['Votes'] = pd.to_numeric(data['Votes'], errors = 'coerce')
data['Duration'] = pd.to_numeric(data['Duration'], errors = 'coerce')
data['Episodes'] = pd.to_numeric(data['Episodes'], errors = 'coerce')
data.fillna(0, inplace = True)

#Changing column type to integer
data['Votes'] = data['Votes'].astype('int')
data['Duration'] = data['Duration'].astype('int')
data['Episodes'] = data['Episodes'].astype('int')

In [29]:
#Finding unique value
data['Frightening'].unique()

array(['Moderate', 'None', 'Mild', 'No Rate', 'Severe'], dtype=object)

In [30]:
#Replacing strings value to numeric value
data = data.replace({'None':0,'Mild':1,'Moderate':2,'Severe':3,'No Rate':0})
data.head()

,Name,Date,Rate,Votes,Genre,Duration,Type,Certificate,Episodes,Nudity,Violence,Profanity,Alcohol,Frightening
0,No Time to Die,2021,7.6,107163,"Action, Adventure, Thriller",163,Film,PG-13,0,1,2,1,1,2
1,The Guilty,2021,6.3,64375,"Crime, Drama, Thriller",90,Film,R,0,0,0,3,0,2
2,The Many Saints of Newark,2021,6.4,27145,"Crime, Drama",120,Film,R,0,2,3,3,2,2
3,Venom: Let There Be Carnage,2021,6.4,30443,"Action, Adventure, Sci-Fi",97,Film,PG-13,0,0,2,2,1,2
4,Dune,2021,8.3,84636,"Action, Adventure, Drama",155,Film,PG-13,0,0,2,0,1,2

In [44]:
#Replacing Type column values(film & series) with 0 and 1
data = data.replace({'Film':0,'Series':1})
data.head()

,Name,Date,Rate,Votes,Genre,Duration,Type,Certificate,Episodes,Nudity,Violence,Profanity,Alcohol,Frightening
0,No Time to Die,2021,7.6,107163,"Action, Adventure, Thriller",163,0,PG-13,0,1,2,1,1,2
1,The Guilty,2021,6.3,64375,"Crime, Drama, Thriller",90,0,R,0,0,0,3,0,2
2,The Many Saints of Newark,2021,6.4,27145,"Crime, Drama",120,0,R,0,2,3,3,2,2
3,Venom: Let There Be Carnage,2021,6.4,30443,"Action, Adventure, Sci-Fi",97,0,PG-13,0,0,2,2,1,2
4,Dune,2021,8.3,84636,"Action, Adventure, Drama",155,0,PG-13,0,0,2,0,1,2

In [32]:
#Droping duplicate data)
data = data.drop_duplicates(keep = 'first')

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5028 entries, 0 to 5027
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         5028 non-null   object
 1   Date         5028 non-null   int64
 2   Rate         5028 non-null   float64
 3   Votes        5028 non-null   int64
 4   Genre        5028 non-null   object
 5   Duration     5028 non-null   int64
 6   Type         5028 non-null   object
 7   Certificate  5028 non-null   object
 8   Episodes     5028 non-null   int64
 9   Nudity       5028 non-null   int64
 10  Violence     5028 non-null   int64
 11  Profanity    5028 non-null   int64
 12  Alcohol      5028 non-null   int64
 13  Frightening  5028 non-null   int64
dtypes: float64(1), int64(9), object(4)
memory usage: 589.2+ KB

In [34]:
data.describe()

,Date,Rate,Votes,Duration,Episodes,Nudity,Violence,Profanity,Alcohol,Frightening
count,5028.000000,5028.000000,5.028000e+03,5028.000000,5028.000000,5028.000000,5028.000000,5028.000000,5028.000000,5028.000000
mean,2006.159905,6.718894,1.327373e+05,90.015115,39.942323,1.011734,1.489857,1.391408,1.015314,1.365354
std,15.789378,1.590262,2.068850e+05,45.909037,422.023431,0.924256,1.052669,1.009573,0.778135,1.034692
min,1922.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1998.000000,6.200000,1.335275e+04,60.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
50%,2011.000000,7.000000,6.011400e+04,98.000000,0.000000,1.000000,2.000000,1.000000,1.000000,1.000000
75%,2019.000000,7.700000,1.669210e+05,116.000000,10.000000,2.000000,2.000000,2.000000,1.000000,2.000000
max,2023.000000,9.700000,2.474122e+06,900.000000,14301.000000,3.000000,3.000000,3.000000,3.000000,3.000000

In [35]:
#managing the genres with 0 and 1
df = data.copy()
df.Genre = df.Genre.str.replace(' ','')
genre_cols = df.Genre.str.get_dummies(sep=',')
genre_cols

,Action,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5023,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5024,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5025,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
5026,0,0,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
5027,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0

In [36]:
#Join new genre column with dataset
df = pd.concat([df, genre_cols], axis=1, join='inner')
df = df.drop(columns = 'Genre') #Remove old Genre column from dataset
df.head()

,Name,Date,Rate,Votes,Duration,Type,Certificate,Episodes,Nudity,Violence,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
0,No Time to Die,2021,7.6,107163,163,Film,PG-13,0,1,2,...,0,0,0,0,0,0,0,1,0,0
1,The Guilty,2021,6.3,64375,90,Film,R,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,The Many Saints of Newark,2021,6.4,27145,120,Film,R,0,2,3,...,0,0,0,0,0,0,0,0,0,0
3,Venom: Let There Be Carnage,2021,6.4,30443,97,Film,PG-13,0,0,2,...,0,0,0,1,0,0,0,0,0,0
4,Dune,2021,8.3,84636,155,Film,PG-13,0,0,2,...,0,0,0,0,0,0,0,0,0,0

In [37]:
#Sorting dataset from oldest to newest
df = df.sort_values(by = 'Date')
df

,Name,Date,Rate,Votes,Duration,Type,Certificate,Episodes,Nudity,Violence,...,News,Reality-TV,Romance,Sci-Fi,Short,Sport,Talk-Show,Thriller,War,Western
3107,Nosferatu,1922,7.9,92629,94,Film,Not Rated,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2945,Metropolis,1927,8.3,167247,153,Film,Not Rated,0,1,1,...,0,0,0,1,0,0,0,0,0,0
2220,Frankenstein,1931,7.8,68780,70,Film,Passed,0,0,1,...,0,0,0,1,0,0,0,0,0,0
3594,M - Eine Stadt sucht einen MÃ¶rder,1931,8.3,151051,117,Film,Passed,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2221,The Wilds,1931,7.3,13430,0,Series,TV-14,17,2,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4722,One Foot in the Grave,2023,7.8,6070,90,Series,TV-PG,44,0,1,...,0,0,0,0,0,0,0,0,0,0
4721,Ant-Man and the Wasp: Quantumania,2023,0.0,0,0,Film,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2001,Oppenheimer,2023,0.0,0,0,Film,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2021,Wonka,2023,0.0,0,0,Film,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2091,The Little Mermaid,2023,0.0,0,0,Film,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
#Counting value by year
df['Date'].value_counts()

2021    649
2019    283
2020    272
2018    202
2017    182
       ...
1944      1
1946      1
1948      1
1951      1
1922      1
Name: Date, Length: 91, dtype: int64

In [39]:
#Grouping based on Genre
genre_data = data.groupby(['Genre']).mean()
genre_data = genre_data.sort_values(by = 'Rate', ascending = False)
genre_data[['Rate', 'Duration']].head()

                             Rate  Duration
Genre
Animation, Family             9.6       7.0
Comedy, Game-Show             9.0      60.0
Comedy, History, News         8.9      30.0
Documentary, Drama, History   8.8      60.0
Animation, Crime, Drama       8.8      24.0

In [40]:
#Filtering dataset by year and rating
df_2021 = df[(df['Date'] == 2021) & (df['Rate'] > 8.7)]
df_2021 = df_2021[['Name', 'Date', 'Rate', 'Votes', 'Type']]
df_2021

                                   Name  Date  Rate    Votes    Type
495                              Narcos  2021   8.8   383542  Series
476                 Gaetmaeul Chachacha  2021   9.0     2789  Series
1003                    The Black Phone  2021   8.9      132    Film
819                                Toma  2021   9.3     5562    Film
276                 One Piece: Wan pÃ®su  2021   8.8    86612  Series
69                              Friends  2021   8.8   903947  Series
96                       Rick and Morty  2021   9.2   436882  Series
52                         Breaking Bad  2021   9.4  1593305  Series
16                             Seinfeld  2021   8.8   272028  Series
13                         The Sopranos  2021   9.2   340006  Series
5                             Ted Lasso  2021   8.8   117562  Series
18                      Game of Thrones  2021   9.2  1885776  Series
44                       Peaky Blinders  2021   8.8   416006  Series
186                Leverage: Redemption  2021   8.8    13554  Series
182                      True Detective  2021   8.9   524326  Series
121                        Black Mirror  2021   8.8   482062  Series
126                    Better Call Saul  2021   8.8   359684  Series
109                            The Wire  2021   9.3   306334  Series
147                  Shingeki no kyojin  2021   9.0   255267  Series
134   It's Always Sunny in Philadelphia  2021   8.8   201983  Series
3611                       Sardar Udham  2021   9.2     8649    Film
3237                             Cartel  2021   8.9     4470  Series
2623              Dark Side of the Ring  2021   8.8     2410  Series
1419           One Punch Man: Wanpanman  2021   8.8   133779  Series
4189                     Come from Away  2021   8.8     1571    Film

In [41]:
#Create new column with conditions
conditions = [(df_2021['Rate'] < 9.0),(df_2021['Rate'] >= 9.0)]
choices = ['Great', 'Excellent']

df_2021['Rate_Category'] = np.select(conditions, choices)
df_2021

,Name,Date,Rate,Votes,Type,Rate_Category
495,Narcos,2021,8.8,383542,Series,Great
476,Gaetmaeul Chachacha,2021,9.0,2789,Series,Excellent
1003,The Black Phone,2021,8.9,132,Film,Great
819,Toma,2021,9.3,5562,Film,Excellent
276,One Piece: Wan pÃ®su,2021,8.8,86612,Series,Great
69,Friends,2021,8.8,903947,Series,Great
96,Rick and Morty,2021,9.2,436882,Series,Excellent
52,Breaking Bad,2021,9.4,1593305,Series,Excellent
16,Seinfeld,2021,8.8,272028,Series,Great
13,The Sopranos,2021,9.2,340006,Series,Excellent
5,Ted Lasso,2021,8.8,117562,Series,Great
18,Game of Thrones,2021,9.2,1885776,Series,Excellent
44,Peaky Blinders,2021,8.8,416006,Series,Great
186,Leverage: Redemption,2021,8.8,13554,Series,Great
182,True Detective,2021,8.9,524326,Series,Great
121,Black Mirror,2021,8.8,482062,Series,Great
126,Better Call Saul,2021,8.8,359684,Series,Great
109,The Wire,2021,9.3,306334,Series,Excellent
147,Shingeki no kyojin,2021,9.0,255267,Series,Excellent
134,It's Always Sunny in Philadelphia,2021,8.8,201983,Series,Great
3611,Sardar Udham,2021,9.2,8649,Film,Excellent
3237,Cartel,2021,8.9,4470,Series,Great
2623,Dark Side of the Ring,2021,8.8,2410,Series,Great
1419,One Punch Man: Wanpanman,2021,8.8,133779,Series,Great
4189,Come from Away,2021,8.8,1571,Film,Great

In [42]:
#Create Pivot Table
pd.pivot_table(df_2021, values='Rate', index=['Date'], columns=['Name'], aggfunc=np.mean)

Name,Better Call Saul,Black Mirror,Breaking Bad,Cartel,Come from Away,Dark Side of the Ring,Friends,Gaetmaeul Chachacha,Game of Thrones,It's Always Sunny in Philadelphia,...,Rick and Morty,Sardar Udham,Seinfeld,Shingeki no kyojin,Ted Lasso,The Black Phone,The Sopranos,The Wire,Toma,True Detective
Date,,,,,,,,,,,,,,,,,,,,,
2021,8.8,8.8,9.4,8.9,8.8,8.8,8.8,9.0,9.2,8.8,...,9.2,9.2,8.8,9.0,8.8,8.9,9.2,9.3,9.3,8.9